
matplotlib                              
numpy              
pandas                       
pip                           
pylife                                         
scikit-learn                        
scipy                           
seaborn                           
sklearn                                  
sympy                             
tensorflow                                
theano-pymc                         































































